<%- include("../partials/head1.ejs",{pageTitle: "Perfil-RodBar Delivery"})%>
<link rel="stylesheet" href="/css/profile.css">
<%- include("../partials/head2.ejs") %>

<header>
    <%- include("../partials/barraNav.ejs", { req: locals.req }) %>
</header>
<body class="contenedorPrincipal">
    <main class="contenedorSecundario">
        <section class="tarjeta tarjetaUsuario">
            <img src="/img/imgUsers/<%=req.session.usuario.imagen %>" alt="imagen del usuario" class="imgPerfil">
            <div class="datos">
                <h2 class="textoPrincipal"><%= req.session.usuario.nombre %></h2>
                <p class="textoSecundario">@<%= req.session.usuario.usuario %></p>
            </div>
        </section>
        <section class="tarjeta tarjetaUsuario correo">
            <h3 class="textoPrincipal">Correo</h3>
            <p class="textoSecundario"><%= req.session.usuario.email %></p>
            <a href="/editarUser/<%= req.session.usuario.id %>"><input class="editarBoton" type="button" value="Editar"></a>
        </section>
    </main>
    <%- include("../partials/footer.ejs") %>
</body>
</html>
