<%- include("../partials/head1.ejs",{pageTitle: "Perfil-RodBar Delivery" })%>
    <link rel="stylesheet" href="/css/editProfile.css">
    <%- include("../partials/head2.ejs") %>

        <header>
            <%- include("../partials/barraNav.ejs", { req: locals.req }) %>
        </header>

        <body class="contenedorPrincipal">
            <main class="contenedorSecundario">
                <form action="/editarUser/<%= req.session.usuario.id %>" method="POST">
                    <section class="tarjeta tarjetaUsuario">
                        <% if (error && Array.isArray(error)) { %>
                            <% for(let i=0; i < error.length; i++) { %>
                                <ul class="peligro-error">
                                    <li>
                                        <%= error[i] %>
                                    </li>
                                </ul>
                                <% } %>
                                    <% } %>
                                        <label for="nombre">Nombre</label>
                                        <input type="text" name="nombre" id="nombre"
                                            value="<%= req.session.usuario.nombre %>">
                                        <label for="contraseña">Contraseña actual</label>
                                        <input type="password" id="contraseña" name="oldPassword">
                                        <label for="contraseña1">Nueva contraseña</label>
                                        <input type="password" id="contraseña1" name="password1">
                                        <label for="contraseña2">Repita nueva contraseña</label>
                                        <input type="password" id="contraseña2" name="password2">
                                        <label for="imagen">Imagen de perfil</label>
                                        <input type="file" name="imagen" id="imagen"
                                            value="<%= req.session.usuario.imagen %>">
                                        <input class="editarBoton" type="submit" value="Aceptar">
                    </section>
                </form>
            </main>
            <%- include("../partials/footer.ejs") %>
        </body>

        </html>