<%- include("../partials/head1.ejs",{pageTitle: "Registro"})%>
<link rel="stylesheet" href="css/register.css">
<%- include("../partials/head2.ejs") %>

<body>
    <header>
        <%- include("../partials/barraNav.ejs", { req: locals.req }) %>
    </header>
    <main>
        <div class="contenedor1">
            <div class="contenedor-izquierda">
                <div class="bienvenido">
                    <h2>¡BIENVENID@!</h2>
                </div>
                <div class="pregunta">
                    <h2>¿YA TENÉS CUENTA?</h2>
                </div>
                <div class="boton-sesion">
                    <div class="boton-login">
                        <a href="/login"><input class="boton" type="button" value="INICIAR SESIÓN"></a>
                    </div>
                </div>
            </div>
            <div class="contenedor-derecha">
                <div class="cuenta">
                    <h2>CREÁ TU CUENTA</h2>
                </div>
                <div class="errores">
                    <% if(typeof(errors) != "undefined"){ %>
                        <ul class="peligro-error">
                            <% errors.forEach(error => { %>
                                <li><%= error.msg %></li>
                                <% }); %> 
                        </ul>
                    <% }; %> 
                </div>
                <form class="formulario" method="POST" action="/register" enctype="multipart/form-data">
                    <div class="barra"><input class="barra1" type="text" id="nombre" name="nombre" placeholder="Nombre" value="<%= typeof old != "undefined" ? old.nombre : "" %>"></div>
                    <div class="barra"><input class="barra1" type="text" id="usuario" name="usuario" placeholder="Usuario" value="<%= typeof old != "undefined" ? old.usuario : "" %>"></div>
                    <div class="barra"><input class="barra1" type="email" id="email" name="email" placeholder="E-mail" value="<%= typeof old != "undefined" ? old.email : "" %>"></div>
                    <div class="barra"><input class="barra1" type="password" id="password" name="password" placeholder="Contraseña"></div>
                    <div class="barra"><input class="barra1" type="password" id="password2"name="repetir-password" placeholder="Repetir contraseña"></div>
                    <div class="barra"><input class="barra2" type="file" id="imagen" name="imagen" placeholder="Imagen de perfil"></div>
                    <div class="registro"><input class="boton-registro" id="enviar" type="submit" value="REGISTRARME"></div>
                </form>
            </div>

        </div>
    </main>
    <%- include("../partials/footer.ejs") %>
    <script src="/js/validator.js"></script>
</body>

</html>